NEXT_PUBLIC_STRIPE_TIER1_LINK=https://buy.stripe.com/placeholder_tier1
NEXT_PUBLIC_STRIPE_TIER2_LINK=https://buy.stripe.com/placeholder_tier2
NEXT_PUBLIC_STRIPE_TIER3_LINK=https://buy.stripe.com/placeholder_tier3
RESEND_API_KEY=
RESEND_AUDIENCE_ID=
